:root {
  --color-primary: #0a2c0f;
  --color-secondary: #faf6f1;
  --color-text: #606060;
  --color-accent: #d1a132;
  --color-accentsecondary: #ffffff00;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-divider: #0a2c0f1a;
  --color-darkdivider: #ffffff1a;
  --color-background: #faf6f1;
  --color-gray: #e2e1da;
  --color-red: #ff0000;
}
