@import "tailwindcss";
@import "@nuxt/ui";
@import "../theme/breakpoints.css";
@import "../theme/color.css";
/* ===== FONTS ===== */
@theme {
  --font-sans: "Public Sans", sans-serif;
  --font-plus: "Plus Jakarta Sans", sans-serif;
  --font-lora: "Lora", sans-serif;
}

* {
  font-family: var(--font-plus);
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1300px;
}

@media (max-width: 1024px) {
  .container {
    padding: 0 10px;
  }
}

@keyframes spin-svg {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
